<h3 class="all-puzzles-index-item-title"><%= puzzle.escape('title').toUpperCase() %></h3>
<h4>Size: <%= puzzle.escape('row_no') + 'x' + puzzle.escape('col_no') + ", " + puzzle.privateString()%></h5>
<h4>Percent Complete: <%= puzzle.percentComplete() + "%" %> </h4>
  <button class="btn btn-success edit-puzzle" data-id="<%=puzzle.escape('id')%>">
    Edit
  </button>
  <button class="btn btn-info play-puzzle" data-id="<%=puzzle.escape('id')%>">
    Play
  </button>
  <button class="btn btn-danger delete-puzzle" data-id="<%=puzzle.escape('id')%>">
    Delete
  </button>
</div>
