<div class="puzzle-index-options">
  <h3 class"puzzle-index-item-title"><img src="<%=icon%>" alt="puzzleIcon" class="puzzle-icon"/>
    <%="     " + puzzle.escape('title') %></h3>
<br>
  <button class="btn btn-success edit-puzzle" data-id="<%=puzzle.escape('id')%>">
    Edit
  </button>
  <button class="btn btn-info play-puzzle" data-id="<%=puzzle.escape('id')%>">
    Play
  </button>
  <button class="btn btn-danger delete-puzzle" data-id="<%=puzzle.escape('id')%>">
    Delete
  </button>
</div>
<br>
