<% if ( puzzleSize && puzzleSize === 5) { %>
  <p class="ansNo fivebyfive">
    <% if (noStr) { %>
      <%= noStr %>
    <% } else { %>
      <%= " " %>
    <% } %>
  </p>
<% } else { %>
  <p class="ansNo">
    <% if (noStr) { %>
      <%= noStr %>
    <% } else { %>
      <%= " " %>
    <% } %>
  </p>
<% } %>


<script type="text/javascript">
  function selectTextboxContent(textbox) {
    setTimeout(function() { textbox.select(); });
  }
</script>

<% if (mode === 'edit' || square.escape('show') ) { %>
<input type="text"
        name="<%=nameStr%>"
        class="<%=classStr%>"
        value="<%=square.escape('value')%>"
        maxlength="1"
        autocomplete="off"
        onfocus="selectTextboxContent(this);">
<% } else { %>
  <input type="text"
          name="<%=nameStr%>"
          class="<%=classStr%>"
          value="<%=gameValue%>"
          maxlength="1"
          autocomplete="off"
          onfocus="selectTextboxContent(this);">
<% } %>
